/* 
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */

:root {
  background-color: #184e77;
}
header {
  background-color: #184e77;
  display: flex;
  justify-content: left;
  padding: 1rem;
  border-bottom: 10px solid #333;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 4rem;
}
h5 {
  color: white;
}
p {
  font-family: 'Poppins', sans-serif;
  color: white;
}
a p {
  opacity: 50%;
}

.active {
  display: flex;
}

.btn {
  margin-top: 2rem;
  max-height: 15rem;
  max-width: 15rem;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 3px #333;
  font-size: 3rem;
  border: solid 5px #555;
  border-radius: 1rem;
}
.button-wrapper {
  text-align: center;
}
.card {
  margin-top: 2rem;
}
.card-btn {
  width: 18rem;
  height: 18rem;
}
.card-box {
  justify-content: space-around;
}
.card-body {
  background-position: center;
  background-size: cover;
}
.chart-box {
  background-color: #184e77;
  height: 300px;
  max-width: 100%;
  height: auto;
}
.clearHistory {
  border: none;
}
.feelings {
  background-color: #1a759f;
  padding: 2rem, 2rem;
  padding: 25px 0px 5%;
}
.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.logo {
  height: 100px;
}
.project-tag {
  background-color: #184e77;
  width: 100%;
  height: 20%;
  font-size: 1rem;
  color: #B5E48C;
  text-align: center;
  padding: 10px;
}
.project-tag p {
  color: #B5E48C;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 2rem;
  font-family: "Lobster", cursive;
  color: white;
  text-shadow: 2px 2px 7px black;
  text-align: right;
  z-index: 1000;
  max-width: 75%;
}

.carouselWrapper {
  position: relative;
}
#card1box {
  background-image: url(https://images.unsplash.com/photo-1645611868479-c5aa51b8e77f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

#card2box {
  background-image: url(https://images.unsplash.com/photo-1640216687044-0391b9824866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=758&q=80);
}
#card3box {
  background-image: url(https://images.unsplash.com/photo-1645536642772-93d4df8b8172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}
#card4box {
  background-image: url(https://images.unsplash.com/photo-1644392047970-bb04b74f2af9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
#card5box {
  background-image: url(https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8emVufGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
#pexelsTag {
  max-height: 50px;
}
#vibePageMain {
  background-color: rgb(38, 39, 41);
}
